@font-face {
    font-family: "Circe";
    src: "../fonts/CRC55.otf";
    font-weight: 400;
}
@font-face {
    font-family: "Circe";
    src: "../fonts/CRC65.otf";
    font-weight: 600;
}
@font-face {
    font-family: "Circe";
    src: "../../fonts/CRC35.otf";
    font-weight: 300;
}


body {
	background-color: #F6F6F6 !important;
}
.t396__artboard {
	background-color: #F6F6F6 !important;
}
#nav22285338 {
	background-color: #F6F6F6 !important;
}

a {
	text-decoration: none;
}
.button__more {
    a {
    	padding-top: 4px !important;
        border-bottom: 6px solid #254389 !important;
        box-shadow: none !important;
        border-radius: 8px !important;

        &:hover {
        	border-bottom: 4px solid #254389 !important;
        }
    }
}
.callback__button {
	border-radius: 8px !important;
}

// Form Styling
#callback_form {
	font-family: 'Circe';
	transition: 0.2s ease-in-out;
	background-image: linear-gradient( 135deg, #F6F6F6 50%, #EDEDED 120%);

	img {
		max-width: 40%;
		margin-bottom: 20px;
	}

	p {
		font-weight: 300;
		text-align: center;
		font-size: 20px;
		margin-bottom: 10px;
		// line-height: 60px;
		color: #1F1F2C;
	}

	form {
		input {
			font-family: 'Circe';
			// border: 1px solid #B0C0D7;
			font-size: 18px;
			font-weight: 400;
			width: 80%;
			padding: 20px 20px 20px 55px;
			margin: 0 auto;
			display: block;
			border-radius: 6px;
			border: 1px solid #E2E2E2;
			transition: 0.2s ease-in-out;

			&:focus {
				outline: none;
			}
		}

		#nameCustomer {
			background: url('../images/name.png') no-repeat scroll 13px 15px;
		}
		#phoneCustomer {
			background: url('../images/phone.png') no-repeat scroll 13px 15px;
		}
		#emailCustomer {
			background: url('../images/email.png') no-repeat scroll 13px 15px;
		}


		input[type="submit"] {
			cursor: pointer;
			font-family: 'Circe';
			padding: 26px 30px 20px 30px;
			width: 50%;
			border-radius: 8px;
			border-bottom: 6px solid #254389;
			background-color: #355DFF;
			margin: 10px auto;
			color: #fff;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 14px;
		}
	}
}

// Thank you window >>>>
.swal2-modal {
	font-family: 'Circe' !important;
}
.swal2-content {
	font-size: 24px !important;
}
// Thank you window END